.checkoutProduct{
    display:flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkoutProduct__image{
    object-fit: contain;
    width:180px;
    height:180px;
}
.checkoutProduct__info{
    padding-left: 20px;
}
.checkoutProduct__title{
    font-size: 18px !important;
    /* font-weight: 800; */
}
.checkoutProduct__info > button{
    background-color: #f0c14b;
    border:none;
    margin-top:10px;
    color:#111;
    border-radius: 4px;
}
.checkoutProduct__rating{
    display:flex;     
}